<body>
  <h1>Salut <%= @event_admin.first_name %> et bienvenue chez nous !</h1>
  <p>
    Tu t'es inscrit à l'event <%= @event.title %> sur eventbrite.fr 
  </p>
  <p>
    Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
  </p>
  <p> À très vite sur eventbrite.fr !
</body>