<body>
  <h1>Salut <%= @user.first_name %> et bienvenue chez nous !</h1>
  <p>
    Tu t'es inscrit sur eventbrite.fr en utilisant l'e-mail suivant : <%= @user.email %>.
  </p>
  <p>
    Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
  </p>
  <p> À très vite sur eventbrite.fr !
</body>