<main role="main">
  <div class="jumbotron", style="background-image: url(https://1ttnwj3qbvu23kfodm1zk0a9-wpengine.netdna-ssl.com/wp-content/uploads/Events4.jpg)">
    <div class="container">
      <h1 class="display-3">Welcome to Eventbrite!</h1>
      <p>Whether you're at home, on holidays, at work, find the exact event you need! </p>
      <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% @event.each do |event| %>
        <div class="col-md-4">
          <h2><%= event.title %></h2>
          <p><%= truncate(event.description, length: 250) %> </p>
          <p><%= link_to "Check it out", event_path(event.id), :class => "btn btn-secondary" %></p>
        </div>
      <% end %>
    </div>

      <hr>

  </div> 

</main>